.buttonIcon{
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}

.buttonContainer{
    border: 2px solid #faf8f8;
    background-color: coral;
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 70px;
    margin: auto;
    border-radius: 8px;
}

.buttonContainer:hover{
    background-color: #7bacc7;
}


.buttonIconContainer{
    height: 30px;
    width: 30px;
    align-self: center;
    margin: auto;
}

.buttonTextContainer{
    margin-top: 10px;
    margin-left: 4px;
}
