.contact-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-content: center;
    text-align: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}

.contact-container > .container-divider{
    border-bottom: white solid;
    width: 10%;
    align-self: center;
    margin-top: 15px;
}

.email-text-wrapper{
    padding-top:20px;
    display: flex;
    justify-content: center;
}

.email-text-paragraph{
    padding-left: 5px;
    color: #cb07ca;
}

.contact-me-text-container{
    color: #faf8f8;
    font-size: 25px;
    align-content: center;
    align-self: center;
    text-align: center;
    padding: 20px;
    width: 70%;
}
.contact-me-header{
    color: #faf8f8;
    font-size: 100px;
    width: 100%;
    align-self: center;
}

@media screen and (max-width: 960px)
{
    .contact-me-header{
        font-size: 8vw;
    }
    .contact-container > .container-divider{
        width: 30%;
    }
    .contact-me-text-container{
        font-size: 5vw;
        width: 95%;
        padding: 6px;
    }
}