body{
    margin: 0;
    position: inherit;
    width: fit-content;
}


p{
    font-family: 'Righteous', cursive;
    color: #faf8f8;
    padding: 0;
    margin: 0;
}


h1{

    font-size: 140px;
    font-family: 'Righteous', cursive;
    color: #faf8f8;
}


h2{
    font-family: 'Righteous', cursive;
    color: #6fa4d8;
}




